# Ambientes
venv/
env/
.venv/
__pycache__/
*.pyc

# Segredos
.env
*.key

# Índices vetoriais
*.faiss
*.pkl
index/

# Colab / logs
.ipynb_checkpoints/
nohup.out
log.txt

# Sistema
.DS_Store
Thumbs.db
streamlit.log
fix_footer.py
